<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dla.lcp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Anuncios adMOD (ID APP) -->
        <!-- Codigo adMob: ca-app-pub-7912320570829252~2229761022 -->
        <!-- Para Testes: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7912320570829252~2229761022"/>

        <!-- SplashScreen -->
        <activity
            android:name=".A_A_SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OnBoarding -->
        <activity
            android:name=".A_A_OnBoardingActivity"
            android:screenOrientation="portrait" />

        <!-- MainActivity -->
        <activity
            android:name=".A_A_MainActivity"
            android:screenOrientation="portrait" />

        <!-- ListCreate -->
        <activity
            android:name=".A_M01_ListCreate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".A_M01_ListCreate_SetList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".A_M01_ListCreate_Edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".A_M01_ListCreate_Delet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- ListConsult -->
        <activity
            android:name=".A_M02_ListConsult_ListUni"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A_M02_ListConsult_SetList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A_M02_ListConsult_EditUni"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".A_M02_ListConsult_ListMult"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- ListExtract -->
        <activity
            android:name=".A_M03_ListExtract"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A_M03_ListExtrato_SetList"
            android:screenOrientation="portrait" />

        <!-- Ajuda e Ajustes -->
        <activity
            android:name=".A_M04_AjudaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A_M04_AjudaActivity_DeleteList"
            android:screenOrientation="portrait" />

        <!-- ProductGrafic -->
        <activity
            android:name=".A_M05_ProductGrafic"
            android:screenOrientation="portrait" />

        <!-- InfoActivity -->
        <activity
            android:name=".A_M06_InfoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>